<div id="pet-profile">
  <ul>
      <li>Nombre de la mascota: <%= @pet.pet_name %></li>
      <li>Edad: <%= @pet.pet_age %></li>
      <li>Enfermedades: <%= @pet.pet_disease %></li>
      <li>Vacunas: <%= @pet.pet_vaccines %></li>
      <li>Comentarios: <%= @pet.pet_info %></li>
      <li>Contacto: <%= @pet.owner_name %></li>
      <li>Teléfono: <%= @pet.owner_phone %></li>
  </ul>
</div>  