<% provide(:title, @pet.pet_name) %>
<div class="container pet-profile">
    <div class="col-sm-6 col-md-4">
        <% if @pet.avatar.file.nil? && current_user == @user %> 
           <%= render 'picture' %>
        <% elsif @pet.avatar && current_user == @user %>
           <%= image_tag @pet.avatar.thumb.url %>
           <br>
           <br>
           <div class="btn-group">
               <%= link_to "Editar foto", edit_registered_pet_path(@pet), class: "btn btn-primary" %>
           </div>     
        <% elsif @pet.avatar.file.nil? %> 
           <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />  
        <% else %>
          <%= image_tag @pet.avatar.thumb.url %>
        <% end %>
    </div>
    <div class="col-sm-6 col-md-8" style="padding-left: 5%;">
        <h4> <%= @pet.pet_name %></h4>
        <small><cite title="Cuidad de México">Ciudad de México, Mx<i class="glyphicon glyphicon-map-marker">
        </i></cite></small>
        <p>
            <i class="glyphicon glyphicon-time"></i><b>Edad:</b> <%= @pet.pet_age %>
            <br />
            <i class="glyphicon glyphicon-plus-sign"></i><b>Enfermedades:</b> <%= @pet.pet_disease %>
            <br />
            <i class="glyphicon glyphicon-briefcase"></i><b>Vacunas:</b> <%= @pet.pet_vaccines %>
            <br />
            <i class="glyphicon glyphicon-comment"></i><b>Comentarios:</b> <%= @pet.pet_info %>
            <br />
            <i class="glyphicon glyphicon-user"></i><b>Contacto:</b> <%= @pet.owner_name %>
            <br />
            <i class="glyphicon glyphicon-earphone"></i><b>Teléfono:
          </b> <%= @pet.owner_phone %></p>


        <% if current_user == @user %>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">
                Settings</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span><span class="sr-only">Settings</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Edit", edit_registered_pet_path(@pet) %></li>
                <li> <%= link_to "Borrar", registered_pet_path(@pet), method: :delete, data: { confirm: "You sure?" } %></li>
            </ul>
        </div>
        <% end %>
    </div>
</div>