<div class="container">
  <div class="well well-sm">
    <div class="col-sm-6 col-md-4">
        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-sm-6 col-md-8">
        <h4> <%= @pet.pet_name %></h4>
        <small><cite title="Cuidad de México">Ciudad de México, Mx<i class="glyphicon glyphicon-map-marker">
        </i></cite></small>
        <p>
            <i class="glyphicon glyphicon-time"></i><%= @pet.pet_age %>
            <br />
            <i class="glyphicon glyphicon-plus-sign"></i><%= @pet.pet_disease %>
            <br />
            <i class="glyphicon glyphicon-briefcase"></i><%= @pet.pet_vaccines %>
            <br />
            <i class="glyphicon glyphicon-comment"></i><%= @pet.pet_info %>
            <br />
            <i class="glyphicon glyphicon-user"></i><%= @pet.owner_name %>
            <br />
            <i class="glyphicon glyphicon-earphone"></i><%= @pet.owner_phone %></p>
        <!-- Split button -->
        <% if current_user == @user %>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">
                Social</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span><span class="sr-only">Social</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Twitter</a></li>
                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                <li class="divider"></li>
                <li><a href="#">Github</a></li>
            </ul>
        </div>
        <% end %>
    </div>
    </div>
</div>