<div class="container">
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>

           <a class="navbar-brand" href="http://petito.com"><img src="https://img.clipartfest.com/5be9643fc5abd32732ddc30f42f034c5_green-dog-paw-clip-art-dog-paw-patrol-logo-clipart-free_1024-938.png" alt="Petito">
           </a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Productos<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Cat's collars</a></li>
              <li><a href="#">Dog's collars</a></li>
              <li><a href="#">Cat products</a></li>
            </ul>
            <li><%= link_to "Sign up", signup_path %></li>
              <% if logged_in? %>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              <% else %>
                <li><%= link_to "Log in", login_path %></li>
              <% end %>
           </ul>
          </div>
      </div>

    </nav>
  </div>